body {
  background-color: #fff;
  color: #000;
  font-family: serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.repo-metadata {
  background-color: #eee;
  border-bottom: 1px solid #333;
  padding: 0.5em;
  font-size: smaller;
  font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace;
  color: #009900;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

a {
  color: #009900;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.archive-description {
  font-size: smaller;
  color: #666;
}